<div class="content w">

    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h2>
    <div id="h2line"></div>

    <div class="contentA">

        <h3><%= first.title %></h3>
        <p class="p1"><%= first.summary %></p>
        <div class="picture1">
            <img src="<%= first.picSrc %>" alt="小孩"/>
        </div>
        <p class="p2"><%= first.content %></p>
        <button><span id="sp">Learn More</span></button>

    </div>

    <div class="contentB">

        <h3>Complete Solution</h3>
        <p class="p1">A tool anything and everything you can think</p>
        <div class="picture1">
            <img src="img/content/contentB-01.jpg"/>
        </div>
        <p class="p2">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciun tdolore magnam aliquam quaerat voluptatem.</p>
        <button><span id="sp">Learn More</span></button>

    </div>
    <div class="contentC">

        <h3>Uber Culture</h3>
        <p class="p1">Fresh. Modern and ready for future</p>
        <div class="picture1">
            <img src="img/content/contentC-01.jpg"/>
        </div>
        <p class="p2">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
        <button><span id="sp">Learn More</span></button>

    </div>
</div>