<div class="contact w">

    <div class="contactA">

        <h1>Social Connection</h1>


        <p class="p1">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
        <div id="hyper">
            <a href="#" class="a1"></a>
            <a href="#" class="a2"></a>
            <a href="#" class="a3"></a>
            <a href="#" class="a4"></a>
            <a href="#" class="a5"></a>
        </div>

        <h2>Newsletter</h2>
        <p class="p2">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
        <form action="#" class="contactA-form">
            <input type="text" name="textA01" placeholder="your email address" class="textA"/>
            <button><span id="sp">Subscribt</span></button>
        </form>

    </div>


    <div class="contactB">

        <h1>Social Connection</h1>
        <form action="#" class="contactB-form">
            <input type="text"name="textB01" placeholder="your name" id="text1"/>
            <input type="text"name="textB02" placeholder="your email address" id="text2"/>
            <textarea name="textarea"></textarea>
        </form>
        <button><span id="sp">Send it</span></button>
    </div>


    <div class="contactC">
        <h1>News Updates</h1>

        <div id="contactC1">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            <img src="img/contact/contactC01.jpg" alt="图片01" id="contact-img01"/>
        </div>
        <div id="contactC2">
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
            <img src="img/contact/contactC02.jpg" alt="图片02" id="contact-img02"/>
        </div>
        <div id="contactC3">
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium.</p>
            <img src="img/contact/contactC03.jpg" alt="图片03" id="contact-img03"/>
        </div>
        <button><span id="sp">Visit our Blog</span></button>
    </div>

</div>

<div class="footer">
    <div class="foot w">
        <p class="footerp2">Copyright 2010. Studio VIVROCKS. All Rights Reserved.</p>
        <p class="footerp1">Site Powered by Wordpress. Design and Developed by VIVROCKS.</p>
        <a href="top">Home</a>&nbsp;|
        <a href="#">About</a>&nbsp;|
        <a href="#">Products</a>&nbsp;|
        <a href="#">Services</a>&nbsp;|
        <a href="#">Contact</a><br />
        <a href="#">Privacy Policy</a>&nbsp;|
        <a href="#">Terms of use</a>

    </div>

</div>
</body>
</html>
