<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>hr system </title>

    <link type="text/css" href="/css/g3.css" rel="stylesheet" />
    <link type="text/css" href="/css/main.css" rel="stylesheet">

</head>

<body>


<!-- title -->
<div id="systemTitle" >
    <div id="yd">
        <h1 id="title">工种</h1>
    </div>
</div>
