/*这个重置样式可以用于为移动设备设置默认样式*/
body,ul,p,h1,h2,h3,dl,dd,form,input,textarea,select{
    padding: 0;
    margin: 0;
    font-family: Arial;
}
li{
    list-style: none;
}
img{
    border: none;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}