<!DOCTYPE html>
<html>
<head>
    <!--如果title为空，则用这个标题-->
    <title><%= title ? title : "Welcome guiGu" %></title>
    <!--<link rel="stylesheet" href="/stylesheets/style.css">-->
</head>
<body>
<div>
    <h1>at gui gu</h1>
</div>
<hr/>