<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KEEP MOVING</title>
    <link rel="stylesheet" href="../js/bootstrap-3.3.5/css/bootstrap.css">
</head>
<body ng-app="myApp" ng-controller="MyController">

<div class="container">
    <!--ng-repeat="item in arr"-->
    <my-directive1>
        <my-directive2 ng-repeat="item in arr" title="item.title" content="item.content">

        </my-directive2>
    </my-directive1>

</div>



<script type="text/javascript" src="../js/angular-1.5.5/angular.js"></script>
<script type="text/javascript">
    angular.module('myApp', [])
            .directive('myDirective1', function(){
                return {
                    restrict : "E",
                    template : '<div class="panel-group" ng-transclude></div>',
                    replace : true,
                    transclude : true,
                    controller : function($scope, $element, $attrs, $transclude){
                        this.openedScope = null;
                        this.closeOtherItem = function(scope){
                            if(this.openedScope === null){
                                this.openedScope = scope;
                            }else if(this.openedScope != scope){
                                this.openedScope.isOpen = false;
                                this.openedScope = scope;
                            }
                        }
                    }
                }
            })
            //创建指令
            .directive('myDirective2', function(){
                return {
                    restrict : 'E',
                    templateUrl : 'template_exer.html',
                    replace : true,
                    scope : {
                        title : '=',
                        content : '='
                    },
                    /*controller : function($scope, $element, $attrs, $transclude){
                        $scope.isOpen = false;
                        $scope.switch = function(){
                            $scope.isOpen = !$scope.isOpen;
                        }
                    }*/
                    link : function(scope, elements, attrs, groupController){
                        scope.isOpen = false;
                        scope.switch = function(){
                            scope.isOpen = !scope.isOpen;
                            if(scope.isOpen){
                                groupController.closeOtherItem(scope);
                            }
                        };
                    },
                    //找当前指令的外部指令newsGroup， 取出其controller对象并传给link方法
                    require : '^myDirective1'
                }
            })
            .factory('fService', function(){
                return {
                    arr : [
                        {title : '111111', content : 'aaaaaa'},
                        {title : '222222', content : 'bbbbbb'},
                        {title : '333333', content : 'cccccc'}
                    ]
                }
            })
            .controller('MyController', function($scope, fService){
                $scope.arr = fService.arr;
            });
</script>
</body>
</html>