<!DOCTYPE html>
<html>
<head>
    <title><%= title ? title : "welcome guiGu" %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <div>
        <h1>at gui gu</h1>
    </div>
    <hr>
