doctype html
html
    head
    title= pageTitle
    script(type='text/javascript').
        function showCityEx(city) {
            return city + " & " + city;
        }
    body
        block content




